#map{
    width: 50%;
    height: 565px;
    float: right;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.child1{
    float: left;
    background-color: #222222;
}
.adr{
    padding-top: 100px;
}
.adr h3{
    background-color: red;
    height: 30px;
    width: 90px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    padding: 5px 15px;
}
.adr h2{
    color: white;
    font-weight: 700;
    line-height: 1.5;
    box-sizing: border-box;
    margin-top: -10px;
    margin-right: -80px;
}
.icon{
    color: red;
    font-size: 60px;
    float: left;
    margin-right: 20px;
}
.icon:hover{
    color: white;
}
.icon .location i {
    margin-right: 8px;
}
.icons a{
    font-size: 45px;
    color: white;
}
.icons .instagram {
}
.twitter:hover{
    color: red;
}
.facebook:hover{
    color: red;
}
.instagram:hover{
    color: red;
}
.icons li{
    box-sizing: border-box;
    padding: 10px 15px 100px 0;
}
h4 {
    font-size: 15px;
    color: silver;
}
.location {
    padding-left: 5px;
}
.desc {
    color: silver;
    margin-right: -80px;
}
.desc2 {
    color: silver;
    margin-right: -80px;
}

.child2 h2{
    float: left;
    border: 1px solid #f8f8f8 ;
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
}
.child2 {
}

.downmenu{
    background-color: red;
    color: white;
}
.down{
    font-size: 30px;
    font-weight: 700;
    padding:30px 0px;
}
.load{
    padding:20px 0px;
}
.load .load1 h1{
    height: 60px;
    width: 200px;
    border: 2px solid white;
    padding: 20px 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}
.load1 h1:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}
.load .load1 a{
    text-decoration: none;
}
.child3-1{
    font-size: 15px;
    color: black;
}
.links{
    padding-top: 20px;
}
.links li {
    padding-left: 15px;
    font-size: 15px;
}
.links li a {
    color: #222222;
}
